<main class="root__login">
  <div class="button__wrapper">
    <button class="button__login button__blue">
      <span class="button__icon">
        <fa name='facebook-square' size='2x'></fa>
      </span>
      <span class="button__text">
        Login com o Facebook
      </span>
    </button>
  </div>

  <div class="button__wrapper">
    <button class="button__login button__light-blue">
      <span class="button__icon">
        <fa name='twitter-square' size='2x'></fa>
      </span>
      <span class="button__text">
        Login com o Twitter
      </span>
    </button>
  </div>

  <div class="button__wrapper">
    <button class="button__login button__red">
      <span class="button__icon">
        <fa name='google' size='2x'></fa>
      </span>
      <span class="button__text">
        Login com o Google
      </span>
    </button>
  </div>

</main>
